<section class="block container">
    <header class="block__header"><h2>Host on the cloud to keep growing</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque, porro.</p>
</header>
    <article class="grid grid--1x2 feature">
        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary">
                <use xlink:href="images/sprite.svg#easy"></use>
                </svg>
            </span>
            <h3 class="feature__heading">Super easy to use</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem iste ratione est eligendi placeat ut?</p>
            <a href="#" class="link-arrow">Learn more<i class="fas fa-arrow-right"></i></a>
        </div>
        <picture>
            <source type="image/webp"srcset="./images/easy.webp 1x,./images/easy@2x.webp 2x">
            <source type="image/png"srcset="./images/easy.png 1x,./images/easy@2x.png 2x">
            <img class="feature__image"src="./images/easy@2x.png" alt="">
        </picture>
    </article>
    <article class="grid grid--1x2 feature">
        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary">
                <use xlink:href="images/sprite.svg#computer"></use>
                </svg>
            </span>
            <h3 class="feature__heading">Simply fast websites</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem iste ratione est eligendi placeat ut?</p>
            <a href="#" class="link-arrow">Learn more<i class="fas fa-arrow-right"></i></a>
        </div>
        <picture>
            <source type="image/webp"srcset="./images/fast.webp 1x,./images/fast@2x.webp 2x">
            <source type="image/png"srcset="./images/fast.png 1x,./images/fast@2x.png 2x">
            <img class="feature__image"src="./images/fast@2x.png" alt="">
        </picture>
    </article>
    <article class="grid grid--1x2 feature">
        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary">
                <use xlink:href="images/sprite.svg#wordpress"></use>
                </svg>
            </span>
            <h3 class="feature__heading">Wordpress made easy</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem iste ratione est eligendi placeat ut?</p>
            <a href="#" class="link-arrow">Learn more<i class="fas fa-arrow-right"></i></a>
        </div>
        <picture>
            <source type="image/webp"srcset="./images/Wordpress.webp 1x,./images/Wordpress@2x.webp 2x">
            <source type="image/png"srcset="./images/Wordpress.png 1x,./images/Wordpress@2x.png 2x">
            <img class="feature__image"src="./images/Wordpress@2x.png" alt="">
        </picture>
    </article>
</section>