<footer class="block block--dark footer">
    <div class="container grid footer__sections">
        <section class="collapsible collapsible--expanded footer__section">
            <header class="collapsible__header">
                <h2 class="collapsible__heading footer__heading">Item 1</h2>
                    <svg class="icon icon--white collapsible__chevron">
                    <use xlink:href="images/sprite.svg#chevron"></use>
                    </svg>
            </header>
                <div class="collapsible__content">
                    <ul class="list">
                        <li><a href="#">Web hosting</a></li>
                        <li><a href="#">automated shit</a></li>
                        <li><a href="#">other crap</a></li>
                    </ul>
                </div>
            </section>
        <section class="collapsible footer__section">
            <header class="collapsible__header">
                <h2 class="collapsible__heading footer__heading">Item 2</h2>
                    <svg class="icon icon--white collapsible__chevron">
                    <use xlink:href="images/sprite.svg#chevron"></use>
                    </svg>
            </header>
                <div class="collapsible__content">
                    <ul class="list">
                        <li><a href="#">your money</a></li>
                        <li><a href="#">my gain</a></li>
                        <li><a href="#">random offer</a></li>
                    </ul>
                </div>
       </section>
       <section class="collapsible footer__section">
        <header class="collapsible__header">
            <h2 class="collapsible__heading footer__heading">Item 3</h2>
                <svg class="icon icon--white collapsible__chevron">
                <use xlink:href="images/sprite.svg#chevron"></use>
                </svg>
        </header>
            <div class="collapsible__content">
                <ul class="list">
                    <li><a href="#">please take this</a></li>
                    <li><a href="#">you will need it</a></li>
                    <li><a href="#">validation from us</a></li>
                </ul>
            </div>
        </section>
        <section class="footer__brand">
            <img src="./images/logo.svg" alt="">
            <p class="footer__copyight">Copyright © 2021 Akshay Uthappa</p>
        </section>
    </div>
</footer>
<script src="./js/main.js"></script>